<table class="menuTable">
    <thead>
        <tr>
            <th class="itemName">Item Name</th>
            <th class="itemCount">Count</th>
            <th class="itemPrice">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr class="itemRow" ng-repeat="item in orderData">
            <td class="itemName">{{item.name}}</td>
            <td class="itemCount">
                <span>{{item.stockUsed}}</span>
                <span ng-click="incrementOrder(item, $index)">[<span class="selectOption" ng-class="isItemInStock(item)">+</span>]</span>
                <span ng-click="decrementOrder(item, $index)">[<span class="selectOption">-</span>]</span>
            </td>
            <td class="itemPrice">{{'Rs. ' + orderAmount[$index]}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th class="itemName">Total Items</th>
            <th class="itemCount">{{total.count}}</th>
            <th class="itemPrice">{{'Rs. ' + total.amount}}</th>
        </tr>
    </tfoot>
</table>